<main>
    <h1>Project Management SaaS</h1>

    <ng-container *ngIf="auth.user | async as user; else login">
        <h3>Estimated Bill: <span style="color: #23d160">${{ user.currentUsage || 0 }}.00 USD</span></h3>

        <payment-form *ngIf="user.status != 'active'"></payment-form>
        <project-manager *ngIf="user.status == 'active'" [userId]="user.uid"></project-manager>
        <button class="button" (click)="auth.logout()">Logout</button>


    </ng-container>


    <ng-template #login>
        <button class="button" (click)="auth.anonymousLogin()">Login</button>
    </ng-template>

</main>
<router-outlet></router-outlet>